@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*,header,footer{
    font-family: 'Pacifico', cursive;
}
* {
  box-sizing: border-box;
}

body{
  width: 960px;
  margin: auto;
}

#WelcomepassowrdImage {
  width: 30px;
  height: 30px;
}

#body {
  margin: auto;
  width: 960px;
  height: 660px;
  background: url(../../images/WelcomeBG2.jpg);
  background-repeat: no-repeat;
  background-size: 1300px 650px;
}



@media (min-width:480px) and (max-width:776px) {
    body{
  width: 480PX;
  margin: auto;
  }
  
}

@media (min-width:768px) and (max-width:960px) {

  body{
  
    width: 960px;
    margin: auto;
  }
  
}

  @media (min-width:961px) {

    body
    {
      width: 960px;
      margin: auto;
    }
    

}